
<div class="main">
  <div class="container ">
    <header class="header" id="header">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 ">
            <img src="../assets/logo1.jpg" alt="" class="">
          </div>
          <div class="col-lg-8 ml-auto">
            <nav>
              <ul class="menu d-flex justify-content-center  animated fadeInDown">
                <li class="menu__item">
                  <a href="#">
                    Головна сторінка
                  </a>
                </li>
                <li class="menu__item">
                  <a href="#">
                    Мета сайту
                  </a>
                </li>
                <li class="menu__item">
                  <a href="#">
                    Можливості
                  </a>
                </li>
                <li class="menu__item">
                  <a href="#">
                    Тарифи
                  </a>
                </li>
                <li class="menu__item">
                  <a href="#">
                    Вхід
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

      </div>

    </header>

    <section class="home" id="home">
      <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <div class="title animated fadeInDown">
                <h1>Фінанси це легко</h1>
                <p>Заплануй свій заврашній день</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam mollitia pariatur porro, quaerat ratione rerum veniam voluptates voluptatum. Accusamus consequatur consequuntur dicta, dolor dolorem fugit molestias praesentium quaerat reprehenderit. Optio!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa doloremque inventore tempora vel voluptas. Aut cupiditate deleniti, deserunt enim fugit maiores, minus molestias, nemo nesciunt nulla perspiciatis quas sapiente voluptatem.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa doloremque inventore tempora vel voluptas. Aut cupiditate deleniti, deserunt enim fugit maiores, minus molestias, nemo nesciunt nulla perspiciatis quas sapiente voluptatem.</p>
                <div class="buttons">
                  <button>Спробувати</button>
                  <button>Дізнатися більше</button>
                </div>

              </div>

            </div>
        </div>
      </div>
    </section>
  </div>
</div>
