
.header{
  background: #EEEEEE;
  color: #010101;
  padding-top:20px;
  padding-bottom: 20px;
}
ul, li {
  display: block;
  padding: 0;
  margin: 0;
}
.menu {
  margin-top:8px;
}

.menu__item {
  margin: 0 30px;
}

.menu__item a {
  font-size:22px;
  font-weight:700;
  color: #000;
}
.menu__item a:hover{
  color: blue;
}
.title {
  padding-top: 100px;
  padding-bottom:70px;
  text-align: center;
  background-image: url(../assets/mainPicture.jpg);

}
.buttons button{
  margin: 30px 30px;
  padding: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
}
.home{
  margin: 30px 5px;

}

.meta{
  background: #ffffff;
  border-radius: 30px;
  height: 80vh;
  text-align: center;
}
.meta__item{
  margin: 20px 20px;
}
.meta__item img{
  padding: 8px;
}
.meta__item p{
  margin: 20px 5px;
  font-size: 20px;
}
.meta__item button{
  margin-top: 30px;
  padding: 12px;
  font-size: 17px;
  background: #00F0F5;
  cursor: pointer;
}
/*Тарифні плани*/
.headertitle{
  color: #000;
  font-size: 32px;
  text-align: center;
}
.features{
  height: 80vh;
  background: #ffffff;
  margin: 20px 0px 20px;
  border-radius: 30px;
}
.tariff{
  padding-top: 20px;
}
.free{
  text-align: center;
  background: aqua;
}
.vip__free__item1{
  margin: 0 10px 0 0;
  background: lightgray;
}

.vip__free__item2{
  background: lightgray;
}
.pricefree{
  text-align: center;
  padding-top: 20px;

}
.icons{
  padding-top: 30px;
}
.icons__item{
  padding-left: 20%;
  padding-top: 20px;
}
.vip__free{
  padding-top: 30px;
}
.vip__free :hover{
  color: blue;
  background: aquamarine;
}
