
<div class="main">
  <div class="container ">
    <header class="header navbar sticky-top" id="header">
      <div class="container">
        <div class="row">
          <div class="col-md-3 ">
            <img src="../assets/logo1.jpg" alt="" class="">
          </div>
          <div class="col-md-8 ml-auto">
            <nav>
              <ul class="menu d-flex justify-content-center animated fadeInDown">
                <li class="menu__item">
                  <a href="#a1">
                    Головна сторінка
                  </a>
                </li>
                <li class="menu__item">
                  <a href="#a2">
                    Мета сайту
                  </a>
                </li>
                <li class="menu__item">
                  <a href="#">
                    Можливості
                  </a>
                </li>
                <li class="menu__item">
                  <a href="#a4">
                    Тарифи
                  </a>
                </li>
                <li class="menu__item">
                  <a href="#">
                    Вхід
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

      </div>
    </header>

    <section class="home" id="home"><a name="a1"></a>
      <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <div class="title animated fadeInDown">
                <h1>Фінанси це легко</h1>
                <p>Заплануй свій заврашній день</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam mollitia pariatur porro, quaerat ratione rerum veniam voluptates voluptatum. Accusamus consequatur consequuntur dicta, dolor dolorem fugit molestias praesentium quaerat reprehenderit. Optio!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa doloremque inventore tempora vel voluptas. Aut cupiditate deleniti, deserunt enim fugit maiores, minus molestias, nemo nesciunt nulla perspiciatis quas sapiente voluptatem.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa doloremque inventore tempora vel voluptas. Aut cupiditate deleniti, deserunt enim fugit maiores, minus molestias, nemo nesciunt nulla perspiciatis quas sapiente voluptatem.</p>
                <div class="buttons">
                  <button>Спробувати</button>
                  <button>Дізнатися більше</button>
                </div>

              </div>

            </div>
        </div>
      </div>
    </section>
    <section class="meta" id="meta">
      <div class="container"><a name="a2"></a>
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 meta__item">
            <h2>Наша мета - готова облікова система для Вас</h2>
            <hr>
            <p >Вам НЕ потрібно "заморочуватися" з тим, як побудувати облік своїх доходів і витрат. Ми пропонуємо вже налаштований, "типовий" варіант.</p>
            <p >Звичайно ж, сервіс має необхідний набір функцій для ведення "домашньої бухгалтерії". Планування і контроль домашнього бюджету, облік доходів і витрат, аналіз "на що йдуть гроші" і т.д.</p>
            <button>Про сервіс за ОДНУ хвилину</button>
          </div>
          <div class="col-lg-5  ml-auto meta__item">
            <img src="../assets/metaimg.jpg" alt="" class="img-responsive animated fadeInLeft">
            <img src="../assets/metaPicture.jpg" alt="" class="img-responsive animated fadeInRight">
          </div>
        </div>
      </div>
    </section>

   <!-- <section class="possibility" id="possibility">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="d-flex">
              <div class="possibility__content">
                <h3 class="possibility__title">DASHBORD</h3>
                <p class="possibility__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cumque et inventore ipsam, iure, minima quasi reiciendis, totam ut velit veritatis voluptate. Accusamus assumenda cumque fugiat labore sit, voluptatibus voluptatum!</p>
              </div>
              <div class="possibility__content">
                <h3 class="possibility__title">DASHBORD</h3>
                <p class="possibility__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cumque et inventore ipsam, iure, minima quasi reiciendis, totam ut velit veritatis voluptate. Accusamus assumenda cumque fugiat labore sit, voluptatibus voluptatum!</p>
              </div>
              <div class="possibility__content">
                <h3 class="possibility__title">DASHBORD</h3>
                <p class="possibility__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cumque et inventore ipsam, iure, minima quasi reiciendis, totam ut velit veritatis voluptate. Accusamus assumenda cumque fugiat labore sit, voluptatibus voluptatum!</p>
              </div>
              <div class="possibility__content">
                <h3 class="possibility__title">DASHBORD</h3>
                <p class="possibility__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cumque et inventore ipsam, iure, minima quasi reiciendis, totam ut velit veritatis voluptate. Accusamus assumenda cumque fugiat labore sit, voluptatibus voluptatum!</p>
              </div>
              <div class="possibility__content">
                <h3 class="possibility__title">DASHBORD</h3>
                <p class="possibility__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cumque et inventore ipsam, iure, minima quasi reiciendis, totam ut velit veritatis voluptate. Accusamus assumenda cumque fugiat labore sit, voluptatibus voluptatum!</p>
              </div>
              <div class="possibility__content">
                <h3 class="possibility__title">DASHBORD</h3>
                <p class="possibility__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cumque et inventore ipsam, iure, minima quasi reiciendis, totam ut velit veritatis voluptate. Accusamus assumenda cumque fugiat labore sit, voluptatibus voluptatum!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>-->

    <section class="features" id="features"><a name="a4"></a>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="tariff" id="tariff">
              <div class="headertitle">
                <h1>Тарифні плани</h1>
              </div>
              <div class="vip__free d-flex justify-content-center" id="vip__free">
                <div class="col-lg-6 ml-auto vip__free__item1 px-0" >
                  <h2 class="free">
                    Free
                  </h2>
                  <h3 class="pricefree">
                    0$ на 3 місяці
                  </h3>
                  <ul class="icons">
                    <li class="icons__item">
                      <p >Доступ на 90 днів, безкоштовний</p>
                    </li>
                    <li class="icons__item">
                      <p>Всі функції</p>
                    </li>
                    <li class="icons__item">
                      <p>Всі звіти</p>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6 ml-auto vip__free__item2 px-0" >
                  <h2 class="free">
                    Vip
                  </h2>
                  <h3 class="pricefree">
                    1$ на місяць
                  </h3>
                  <ul class="icons">
                    <li>
                      <div class="icons__item">
                        <div><span class="mdi mdi-access-point"></span></div>
                        <div><p>Доступ на 1,2,6,12місяців від 1$ на місяць</p></div>
                      </div>
                    </li>
                    <li class="icons__item">
                      <p>Всі функції</p>
                    </li>
                    <li class="icons__item">
                      <p>Всі звіти</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>
